/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #ff7a18, #af002d, #319197);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    overflow-x: hidden;
    text-align: center;
}

header {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    animation: headerAnimation 3s ease-in-out;
}

h1 {
    font-size: 3em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

h3 {
    color: #f5f5f5;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    animation: fadeInUp 1s ease-out;
}

ul {
    list-style: none;
    padding: 0;
    animation: fadeIn 1s ease-out;
}

li {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

li img {
    margin-right: 15px;
    border-radius: 50%;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.menu-category {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    animation: slideIn 1s ease-out;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    font-size: 1.2em;
    text-transform: uppercase;
    animation: footerAnimation 3s ease-out;
}

/* Animations */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes headerAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes footerAnimation {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
